.incidents-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  min-width: 300px;
  max-width: 1400px;
  height: max(70vh, 600px);
  grid-template-areas: "incident-list";
}

.incidents-container.with-detail {
  grid-template-areas: "incident-detail";
}

@media (min-width: 640px) {
  .incidents-container.with-detail {
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "incident-list incident-detail";
  }
}

/* wrappers */
.incidents-list-wrapper,
.incident-detail-wrapper {
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
}

.incident-list-wrapper {
  grid-area: incident-list;
}

.incident-detail-wrapper {
  grid-area: incident-detail;
  background-color: var(--colour-surface-2);
  border-left: 1px solid var(--colour-border);
  height: 100%;
}

/* incident list */
.incidents-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incident-list-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.incident-list-item {
  border: 1px solid var(--colour-border);
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &:hover,
  &.selected {
    background-color: var(--colour-surface-2);
  }
}

.incident-list-item-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  font-size: 0.9rem;
  color: var(--colour-text-secondary);
}

.incident-list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.incident-list-item-header h4 {
  margin: 0 0.6rem 0 0;
  font-size: 1.1rem;
}

/* incident filters */
.incident-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* incident detail */
.incident-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.incident-detail-meta {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
