.incidents-container {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: calc(var(--spacing-unit)); */
  max-width: 1400px;
  height: max(70vh, 600px);

  &.with-detail {
    grid-template-columns: 2fr 3fr;
  }
}

.incident-list-wrapper,
.incident-detail-wrapper {
  padding: calc(var(--spacing-unit) * 2);
  height: 100%;
  overflow-y: auto;
}

.incident-detail-wrapper {
  background-color: var(--colour-surface-2);
  border-left: 1px solid var(--colour-border);
  height: 100%;
}

/* incident list */
.incident-list-items {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit));
}

.incident-list-item {
  border: 1px solid var(--colour-border);
  padding: calc(var(--spacing-unit) * 2);
  cursor: pointer;

  &:hover {
    background-color: var(--colour-surface);
  }
}

.incident-list-item h4 {
  margin: 0 0 calc(var(--spacing-unit)) 0;
}

/* incident detail */
