.incidents-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1400px;
  height: max(70vh, 600px);
}
.incidents-container.with-detail {
  grid-template-columns: 2fr 3fr;
}

/* wrappers */
.incidents-list-wrapper,
.incident-detail-wrapper {
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
}

.incident-detail-wrapper {
  background-color: var(--colour-surface-2);
  border-left: 1px solid var(--colour-border);
  height: 100%;
}

/* incident list */
.incidents-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incident-list-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.incident-list-item {
  border: 1px solid var(--colour-border);
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &:hover,
  &.selected {
    background-color: var(--colour-surface-2);
  }
}

.incident-list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incident-list-item-header h4 {
  margin: 0 0.6rem 0 0;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* incident filters */
.incident-filters {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* incident detail */
