.severityBadge {
  display: inline-block;
  padding: 0.1em 0.5em;
  border-radius: 4px;
  font-size: 0.875em;
}

.severityLow {
  background-color: #e6f4ea;
}

.severityMedium {
  background-color: #fff4cc;
}

.severityHigh {
  background-color: #ffe3d6;
}

.severityCritical {
  background-color: #fadadd;
}

.severityNone {
  background-color: #e9e9e9;
}
