:root {
  --colour-brand: #012347;
  --colour-primary: #085ef1;
  --colour-surface: #ebebe7;
  --colour-surface-2: #fafaf9;
  --colour-text: #1a1a1a;
  --colour-heading: #003755;
  --colour-border: #d1d5db;

  /* ui component variables */
  --button-primary-bg: var(--colour-primary);
  --button-primary-text: #ffffff;
}

body {
  background-color: var(--colour-surface);
  color: var(--colour-text);
}

input,
select {
  padding: 0.5rem;
  border: 1px solid var(--colour-border);
  border-radius: 4px;
}

.app {
  text-align: center;
  min-width: 360px;
}

.app h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--colour-heading);
  font-weight: 600;
}

.app main {
  border: 1px solid var(--colour-border);
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden;
}
