.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 1rem;
}

.primary {
  background-color: var(--colour-primary);
  color: var(--button-primary-text);
}

.link {
  background: none;
  border: none;
  color: var(--colour-primary);
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
}
