.button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.button.primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
}

.button.secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text);
}

.button.link {
  background: none;
  border: none;
  color: var(--colour-primary);
  padding: 0;
  cursor: pointer;
}

.button.small {
  font-size: 0.8rem;
}

.medium {
  font-size: 1rem;
}
