.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 1rem;
}

.primary {
  background-color: var(--colour-brand);
  color: var(--button-primary-text);
}
